body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
    padding-left: 1rem;
}

.goods{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.Cart{
    position: fixed;
    top: 100px;
    right: 100px;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

.btn{
    display: grid;
    align-items: center;
}

.basket-list{
    position: fixed;
    top: 30%;
    left: 35%;
    width: 600px;
    z-index: 100;
    border: 3px solid green;
    box-shadow: 1px 1px 6px forestgreen;
    animation: show 500ms ease-in-out ;
    border-radius: 20px;
}

.collection-item:first-child{
    background-color: green;
}
.collection-item:last-child{
    background-color: green;
}

.basket-close{
    position: fixed;
    top: 28%;
    left: 67%;
    font-size: 25px;
    font-weight: 700;
    animation:show 500ms ease-in-out;
    cursor: pointer;
}

@keyframes show {
    from{
        top: 90%;
        opacity: 0;
    }
    to{
        top: 30%;
        opacity: 1;
    }
}
@keyframes hide {
    from{
        top: 30%;
        opacity: 0;
    }
    to{
        top: 90%;
        opacity: 1;
    }
}

.collection-item .material-icons {
    cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}